body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #efc6e2;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

#loginForm {
    display: flex;
    flex-direction: column;
}

#loginForm label {
    margin-bottom: 8px;
}

#loginForm input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ff8c94; 
    border-radius: 4px;
}

#loginForm button {
    padding: 10px;
    background-color: #ff8c94; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#loginForm button:hover {
    background-color: #ff6b81; 
}

#loginForm p {
    margin-top: 10px;
    color: #333; 
}

#loginForm a {
    color: #007bff; 
    
    text-decoration: none;
}

#loginForm a:hover {
    text-decoration: underline;
}

.top-links {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 8px;
    text-align: right;
}

.top-links a {
    margin: 0 10px;
    color: #ede4e4;
    text-decoration: underline;
}

.top-links a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ff8c94; 
    border-radius: 4px;
    width: 100%;
}

form select,
form input{
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    padding: 10px;
    border: 1px solid #ff8c94; 
    border-radius: 4px;
}

form button {
    padding: 10px;
    background-color: #ff8c94; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #ff6b81; 
}


label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}

button {
    padding: 10px;
    background-color: #ce6ba0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #bd229c;
}

a {
    color: #f15cc7;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}


.content-container {
    background-color: #f1ecec;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
    margin-top: 50px;
}

.signup-container {
    background-color: #ffe0e3; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

#signupForm {
    display: flex;
    flex-direction: column;
}

#signupForm label {
    margin-bottom: 8px;
}

#signupForm input,
#signupForm select {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ff8c94; 
    border-radius: 4px;
}

#signupForm button {
    padding: 10px;
    background-color: #ff8c94; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#signupForm button:hover {
    background-color: #ff6b81; 
}

#signupForm p {
    margin-top: 10px;
    color: #333; 
}

#signupForm a {
    color: #007bff; 
    text-decoration: none;
}

#signupForm a:hover {
    text-decoration: underline;
}

.home-container {
    background-color: #ffe0e3; 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 70%;
    text-align: center;
}

.home-container img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.statistics-boxes {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.box {
    text-decoration: none;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    flex-grow: 1;
    transition: background-color 0.3s ease;
}

.in-progress {
    background-color: #f5eff0; 
}

.incomplete {
    background-color: #faf6f6; 
}

.completed {
    background-color: #f5f0f1; 
}



.additional-content {
    margin-top: 40px;
}

.additional-content p {
    font-size: 18px;
}

h1 {
    margin-bottom: 20px;
}


.settings-container {
    background-color: #f9f5f5; 
}

#settingsForm {
    display: flex;
    flex-direction: column;
}

#settingsForm label {
    margin-bottom: 8px;
}

#settingsForm select,
#settingsForm input {
    padding: 8px;
    margin-bottom: 16px;
}

#settingsForm button {
    padding: 10px;
    background-color: #ff6b81; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#settingsForm button:hover {
    background-color: #ff4f66; 
}


.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}



.profile-container img {
    max-width: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

.profile-container h2 {
    color: #ff6b81; 
}

.profile-container p {
    color: #333; 
}

.leaderboard-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.leaderboard-container th, .leaderboard-container td {
    padding: 10px;
    border: 1px solid #ddd;
}

.leaderboard-container th {
    background-color: #ff6b81; 
    color: #fff;
}

.leaderboard-container td {
    background-color: #ffe0e3; 
}

.leaderboard-container td:first-child {
    font-weight: bold;
    color: #ff6b81; 
}

.manage-chores-container {
    background-color: #f4edee; 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 70%;
    text-align: center;
}

h2, h3 {
    color: #121212; 
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ff8c94; 
    
}

table th {
    background-color: #ff6b81; 
    color: #fff;
}

table tbody tr:nth-child(odd) {
    background-color: #ffdde1;
}

.edit-button,
.delete-button {
    background-color: #ff8c94; 
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.edit-button:hover,
.delete-button:hover {
    background-color: #ff6b81; 
}


.add-chore-container {
    background-color: #ffe0e3; 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 70%;
    text-align: center;
}


.chore-assignment-container,
.manage-chores-assigned-container {
    background-color: #ffe0e3; 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 70%;
    text-align: center;
}

.complete-button {
    background-color: #ff6b81; 
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.complete-button:hover {
    background-color: #ff4f66; 
}

.deadline-container h2 {
    color: #ff6b81; 
}

.deadline-card {
    background-color: #ffe0e3; 
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.deadline-card h3 {
    color: #ff6b81; 
}

.deadline-card p {
    color: #333; 
}

.completed-button {
    background-color: #ff6b81; 
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.completed-button:hover {
    background-color: #ff4f66; 
}

form button,
.edit-button,
.complete-button,
.incomplete-button {
    padding: 10px;
    margin-top: 10px;
    background-color: #ff8c94; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover,
.edit-button:hover,
.complete-button:hover,
.incomplete-button:hover {
    background-color: #ff6b81; 
}
